<p style="color: green"><%= notice %></p>

<%= render @client %>

<!--<div>
  <%= link_to "Edit this client", edit_client_path(@client),class: "btn btn-primary mb-3 btn-lg" %> 
  <%= button_to "Destroy this client", @client, method: :delete, class: "btn btn-primary mb-3 btn-lg" %>
</div>-->
  <%= link_to "Back to clients", clients_path, class: "btn btn-primary mb-3 btn-lg" %>


